.wrapper-notification {
    border-radius: 10px;
    box-shadow: 2px 2px 15px 0px #ccc;
}

.title-notification {
    padding: 10px 0 10px 24px;
    border-radius: 10px 10px 0px 0px;
    background-color: #FF7506;

    p {
        font-size: 17px;
        font-weight: 700;
        line-height: 24px;
        color: #fff;
    }
}

.content-notification {
    height: 370px;
    overflow-y: scroll;
    border-radius: 0px 0px 10px 10px;
    background-color: #fff;
}

.content-notification-child {
    width: 355px;
    padding: 10px 24px 10px 15px;
    border-bottom: 1px solid #D4D4D7;
    transition: 0.1s linear;

    &:hover {
        background-color: #FFF2E7;
    }
}

.content-notification-child:last-child {
    border-bottom: 1px solid #fff;
}

.content-notification-name {
    margin-bottom: 2px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #BF5805;
}

.content-notification-time {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #535261;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #FFC89B;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #FF9138;
}