.wrapper-header-default {
    display: flex;
    justify-content: space-between;
    padding: 24px 64px 22px 24px;
}

.title-header-default {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.header-default {
    display: flex;
    align-items: center;
}

.wrapper-icon-notification-default {
    position: relative;
}

.icon-notification-default,
.icon-notification-default-active {
    padding: 6px 7px 2px 7px;
    border-radius: 50%;
    cursor: pointer;
}

.icon-notification-default {
    background-color: #FFF2E7;
}

.icon-notification-default-active {
    background-color: #FF7506;
}

.main-notification,
.main-notification-active {
    position: absolute;
    left: -95px;
    top: 55px;
    z-index: 999;
}

.main-notification {
    display: none;
}

.main-notification-active {
    display: block;
}

.icon-notification2,
.icon-notification2-active {
    width: 20px;
    height: 20px;
}

.icon-notification2 {
    color: #FFAC6A;
}

.icon-notification2-active {
    color: #fff;
}

.info-notification-default {
    display: flex;
    align-items: center;
    margin-left: 24px;
    text-decoration: none;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

.info-notification-default-child {
    margin-left: 8px;

    span {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        color: #7E7D88;
    }

    p {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        color: #535261;
    }
}