.header-overview {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.wrapper-icon-notification-overview {
    position: relative;
}

.main-notification-overview,
.main-notification-overview-active {
    position: absolute;
    left: -65px;
    top: 55px;
    z-index: 999;
}

.main-notification-overview {
    display: none;
}

.main-notification-overview-active {
    display: block;
}

.icon-notification-overview,
.icon-notification-overview-active {
    padding: 6px 7px 2px 7px;
    border-radius: 50%;
    cursor: pointer;
}

.icon-notification-overview {
    background-color: #FFF2E7;
}

.icon-notification-overview-active {
    background-color: #FF7506;
}

.icon-notification {
    width: 20px;
    height: 20px;
    color: #FFAC6A;
}

.info-notification-overview {
    display: flex;
    align-items: center;
    margin-left: 24px;
    text-decoration: none;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

.info-notification-overview-child {
    margin-left: 8px;

    span {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        color: #7E7D88;
    }

    p {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        color: #535261;
    }
}

.main-overview {
    margin-top: 16px;
}

.title-main-overview {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    color: #FF7506;
}

.content-main-overview {
    margin-top: 16px;
}

.content-main-overview-child {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 11px 16px 12px 16px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 2px 2px 15px 0px rgba(70, 64, 67, 0.10);
}

.main-overview-child1 {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.child1-statistical1,
.child1-statistical2,
.child1-statistical3 {
    margin-right: 10px;
    padding: 3px;
    border-radius: 50%;

    p {
        padding: 10px 7px 10px 8px;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        border: 2px solid #EAEAEC;
        border-radius: 50%;
    }
}

.child1-statistical1 {
    border: 2px solid #FF7506;
}

.child1-statistical2 {
    border: 2px solid #4277FF;
}

.child1-statistical3 {
    border: 2px solid #35C75A;
}

.child1-info {
    p {
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: 36px;
    }
}

.child1-info-name1,
.child1-info-name2,
.child1-info-name3 {
    display: flex;
    align-items: center;

    span {
        margin-left: 4px;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 21px;
    }
}

.child1-info-name1 {
    span {
        color: #FF7506;
    }
}

.child1-info-name2 {
    span {
        color: #4277FF;
    }
}

.child1-info-name3 {
    span {
        color: #35C75A;
    }
}

.child2-content1,
.child2-content2,
.child2-content3 {
    display: flex;
    align-items: center;

    span {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
    }
}

.child2-content1 {
    span {
        color: #FF7506;
    }
}

.child2-content2 {
    span {
        color: #4277FF;
    }
}

.child2-content3 {
    span {
        color: #35C75A;
    }
}

.child2-content-status1,
.child2-content-status2,
.child2-content-status3 {
    display: flex;
    align-items: center;

    p {
        margin-right: 7px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        color: #7E7D88;
    }
}

.calendar-main-overview {
    border-radius: 12px;
    box-shadow: 2px 2px 15px 0px rgba(70, 64, 67, 0.10);
}