.wrapper-default {
    display: flex;
}

.wrapper-default-child {
    flex: 1;
    background-color: #F6F6F6;
}

.wrapper-dashboard {
    display: flex;
}

.wrapper-dashboard-child {
    flex: 1;
    display: flex;
    background-color: #F6F6F6;
}